html {
	background-image:url(Back.jpg);
	background-size:100%;
}
div.header {
	margin: 50px 0 376px 376px;
}
.header_icon {
	position:relative;
	margin-top:10px;
}
.header_text a{
	text-decoration: none;
	position:absolute;
	color:#fff;
	margin-left:10px;
}
.main_nav {
	position:absolute;
	margin-left:450px;
	margin-top:8px;
}
.nav a {
	transform:scale(1);
	text-transform: uppercase;
	text-decoration: none;
	color:#fff;
	margin:0 0 35px 35px;
}
.nav a:hover {
	transform:scale(1.5);
	transition: all 0.5s;
	background-color:rgb(44,44,44,0.3);
	border-radius: 40px;
}
div.main {
	font-size:30px;
	margin-left:360px;
	margin-top:-150px;
	color:#fff;
}
h2 {
	font-size:20px;
}
.button1 {
	text-transform:uppercase;
	color:rgb(255,133,121);
	background:white center;
	background-size: 190px 55px;
}